@import 'abstracts';

ul {
  .review {
    font-size: $font-size-lg;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    padding-bottom: 1rem;

    .summary {
      font-size: $font-size-sm;
      color: $text-color;
    }
  }
}