@import 'abstracts';

.review-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}


h3 {
  font-size: $font-size-lg;
  font-weight: 700;
  margin-bottom: 1rem;
}

form {
 .input-wrapper {
   margin-bottom: 1rem;
 }
}

.errors {
  background: lighten($danger, 55%);
  padding: 1rem;
  margin-bottom: 1rem;

  p {
    color: $danger;
    margin: 0.5rem 0;
  }
}

.body {
  background: lighten($gray, 35%);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  p {
    margin: 1rem 0;
    font-weight: 600;
    font-family: $serif;
  }
}

 .actions {
   align-items: center;
   display: flex;
   gap: 1rem;
   margin-top: 1rem;


   button {
     @include btn;
     color: $danger;
     transition: $transitionAll;

     &:hover {
       color: darken($danger, 10%);
     }
   }
 }

 .empty {
   color: $text-color-light;
   font-style: italic;
 }