@import 'variables';

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btn {
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: inherit;
  font-size: $font-size;
  font-family: $bodyFont;
  padding: 1rem;
  transition: $transitionAll;
}

@mixin filter-chip {
  background: transparent;
  color: $text-color;
  border: 1px solid $filter-chip-border;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  transition: $transitionAll;

  &:hover,
  &.active {
    background: $green;
    color: $text-color-inverted;
  }
}
