// Base Colors
$green: #15a153;
$red-light: #e95c4e;
$red: #cf3500;
$blue: #7ba1f8;
$black: #1e1e1e;
$mustard: #f7d74e;
$lilac: #c7a2f9;
$gray: #999;
$cream: #faf0e6;
$white: #fff;
$sky: #f0f8ff;

// Utilities
$transitionAll: all 0.2s ease-in-out;
$accent: $green;

//  Typography
$sans: 'Karla';
$serif: 'Source Serif 4';
$titleFont: $serif;
$bodyFont: $sans;
$text-color: $black;
$text-color-inverted: $white;
$text-color-accent: $accent;
$text-color-light: $gray;
$footer-text: $gray;
$link-text: $accent;
$letter-spacing-sm: -0.1px;
$letter-spacing-default: normal;
$line-height: 1.5;

$font-size-xs: 0.875rem;
$font-size-sm: 1rem;
$font-size: 1.125rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xl2: 2.5rem;

//  Elements
$header-bg-color: $sky;
$filter-chip-border: $green;
$border-color: lighten($black, 75%);
$btn-primary: $accent;
$btn-primary-text: $text-color-inverted;

// States
$danger: $red;
